:root
  --main-border-style: 1px solid #e0e0e0;
  --gutter-size-xs: 8px;
  --gutter-size-x: 16px;
  --gutter-size-xl: 32px;
  --font-size-xs: 12px;
  --font-size-x: 16px;
  --font-size-xl: 18px;
  --font-color: gray;

  --color-series-block: 245, 229, 29;
  --color-design-block: 255, 155, 113;
  --color-fittings-block: 232, 72, 85;
  --color-material-block: 27, 153, 183;
  --color-box-block: 70, 163, 87;
  --color-size-block: 133, 87, 161;